# -*- mode: ruby -*-
# vi: set ft=ruby :

# Vagrant box image
VAGRANT_BOX = "{{ VAGRANT_BOX }}"

# VM infra parameters
MASTERS_CPU = {{ MASTERS_CPU }}
MASTERS_MEM = {{ MASTERS_MEM }}
WORKERS_CPU = {{ WORKERS_CPU }}
WORKERS_MEM = {{ WORKERS_MEM }}
VM_PREFIX = "{{ VM_PREFIX }}"

# Number of master and worker nodes
MASTER_NODES = {{ MASTER_NODES }}
WORKER_NODES = {{ WORKER_NODES }}

# Network IP parameters
DOMAIN = "{{ DOMAIN }}"
SUBNET = "{{ SUBNET }}"
MASTERS_IP_BASE = {{ MASTERS_IP_BASE }}
WORKERS_IP_BASE = {{ WORKERS_IP_BASE }}
MASTERS_FWD_PORTS_BASE = {{ MASTERS_FWD_PORT_BASE }}
WORKERS_FWD_PORTS_BASE = {{ WORKERS_FWD_PORT_BASE }}
SETUP_HOSTS_PATH = "{{ VAGRANT_ENV_HOME }}/setup_hosts.sh"
ANSIBLE_SSH_PUBKEY = "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

# Configuration
Vagrant.configure("2") do |config|

  # Common configuration:
  config.vm.box = "#{VAGRANT_BOX}"
 
  # Provision Master Nodes
  (1..MASTER_NODES).each do |i|
    n = i > 9 ? "#{i}" : "0#{i}"
    config.vm.define "#{VM_PREFIX}master#{n}" do |master|
      master.vm.provider "virtualbox" do |vb|
        vb.name = "#{VM_PREFIX}master#{n}"
        vb.memory = "#{MASTERS_MEM}"
        vb.cpus = "#{MASTERS_CPU}"
      end
      master.vm.network :private_network, ip: "#{SUBNET}#{MASTERS_IP_BASE + i}"
      master.vm.network "forwarded_port", guest: 22, host: "#{MASTERS_FWD_PORTS_BASE + i}"
      master.vm.hostname = "#{VM_PREFIX}master#{n}.#{DOMAIN}"
    end
  end

  # Provision Worker Nodes
  (1..WORKER_NODES).each do |i|
    n = i > 9 ? "#{i}" : "0#{i}"
    config.vm.define "#{VM_PREFIX}node#{n}" do |worker|
      worker.vm.provider "virtualbox" do |vb|
        vb.name = "#{VM_PREFIX}node#{n}"
        vb.memory = "#{WORKERS_MEM}"
        vb.cpus = "#{WORKERS_CPU}"
      end
      worker.vm.network :private_network, ip: "#{SUBNET}#{WORKERS_IP_BASE + i}"
      worker.vm.network "forwarded_port", guest: 22, host: "#{WORKERS_FWD_PORTS_BASE + i}"
      worker.vm.hostname = "#{VM_PREFIX}node#{n}.#{DOMAIN}"
    end
  end

  # Common provision:
  config.vm.provision "shell", inline: "echo #{ANSIBLE_SSH_PUBKEY} >> /home/vagrant/.ssh/authorized_keys", privileged: false
  # config.vm.provision "setup_hosts", :type => "shell", :path => "#{SETUP_HOSTS_PATH}" do |s|
  #   s.args = ["#{SUBNET}", "#{ANSIBLE_SSH_PUBKEY}"]
  # end

end
